.sectionContainer {
  border-radius: 16px;
  padding: 1rem 0rem 1rem 0rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.headerContainer {
  padding-right: 1rem;
  padding-left: 1rem;
}

.patientsListContainer {
  flex: 1;
  overflow: auto;
}
